<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Statement</h1>
 
<hr>
 
<h1>statement</h1>
 
<table border="1">
 
    <tr>
        <td>order_id</td>
        <td>AID</td>
        <td>totalAmount</td>
        <td>airline</td>
    </tr>
 
    {% for i in info_list %} 
        <tr>
            <td>{{ i.orderid }}</td>
            <td>{{ i.AID }}</td>
            <td>{{ i.totalAmonut }}</td>
            <td>{{ i.airline }}</td>
        </tr>
    {% endfor %}
 
</table>
 
</body>